<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Blog 1</title>
	<!-- this is a template for SUBpages -->
	<!-- dependencies: stylesheet in the main folder -->
	<!-- instagram: https://www.instagram.com/westemnyuad/ -->
	<!-- email: mailto:westem.team@nyu.edu-->
	<!-- slack: https://docs.google.com/forms/d/e/1FAIpQLScE-LxnVmYpPy_MfN4Y2G0RHxUU6sdHsRg4ZKxxz2x53f3nyQ/viewform -->
	<!-- pages: about(index.html) in main folder!!!, 
		events (events.html) in the pages folder which should be the same folder as all the subpages, 
		get involved (get_involved.html) in the pages folder which should be the same folder as all the subpages -->

	<!-- bootstrap stuff, learn more about this here here:https://www.w3schools.com/bootstrap/-->
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>

	<!-- the icon in the tab -->
	<link rel="icon" href="../../images/logos/westem-logo-black.png">

	<!-- linked needed from the social media icons -->
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

	<!-- used to import needed files to change the default font -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,800' rel='stylesheet'>

	<!-- link to our stylesheet -->
	<link rel="stylesheet" type="text/css" href="../../stylesheet.css">

</head>
<body>
	<!-- nav bar -->
	<nav class='navbar sticky-top navbar-expand-lg navbar navbar-dark bg-dark'> <!-- replace dark with light to get  -->

		<a class='navbar-brand' href='#'>
			<!-- adding weStem logo -->
			<a class='navbar-brand' href='../index.html'><img src='../../images/logos/westem-logo-white.png' class='img-responsive logo'>
			</a>
		</a>

		<!--dropdown button that appears for smaller screens such as phone -->
		<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
		<span class='navbar-toggler-icon'></span>
		</button>

		<!-- nav bar contents aka links to other pages and social media icons -->
		<div class='collapse navbar-collapse' id='navbarNavDropdown'>
			<ul class='navbar-nav'>

				<!-- #TODO activate the page that is current (make sure to change class='nav-link active' for respective pages e.g. the events.html should have the class of its page here activated-->
				<li class='nav-item'>
					<!-- since this is templete for subpages we need to gou out of pages folder into main foler (hence the two dots, then go to index in the main folder) -->
					<a class='nav-link' href='../../index.html'>About</a>
				</li>
				<li class='nav-item'>
					<!-- the rest of the pages is in the same folder (ie pages) so we can just directly name the file name -->
					<a class='nav-link' href='../events.html'>Events</a>
				</li>

				<li class='nav-item active'>
					<a class='nav-link' href='../blog.html'>Blog</a>
				</li>

				<li class='nav-item'>
					<a class='nav-link' href='../newsletter.html'>Newsletter</a>
				</li>
				
				<li class='nav-item'>
					<a class='nav-link' href='../resources.html'>Resources</a>
				</li>

				<li class='nav-item'>
					<a class='nav-link' href='../get_involved.html'>Get involved</a>
				</li>
			</ul> 

			<!-- the social media icons -->
			<ul class='navbar-nav ml-auto'>
				<a href='https://www.instagram.com/westemnyuad/' class='fa fa-instagram'></a>
				<a href='mailto:westem.team@nyu.edu' class='fa fa-envelope'></a>
				<a href='https://docs.google.com/forms/d/e/1FAIpQLScE-LxnVmYpPy_MfN4Y2G0RHxUU6sdHsRg4ZKxxz2x53f3nyQ/viewform' class='fa fa-slack'></a>
			</ul>
			<!-- end of the social media icons -->

		</div>
	</nav>
	<!-- end of navigation bar -->

	<main role="main" class="container" id="TOP-BOTTOM-MARGIN">
		  <div class="row">
			<div class="col-md-12 blog-main">
				<h3 class="pb-3 mb-4 font-italic border-bottom">
					From the weSTEM
				</h3>

				<div class="blog-post">
					<h2 class="blog-post-title">Sample blog post</h2>
					<p class="blog-post-meta">May 6, 2022 | by <i>First Last Name</i>, edited by <i>First Last Name</i></p>

					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget rutrum erat, sed efficitur dui. Proin rhoncus hendrerit odio quis congue. Sed id aliquam risus. Nulla a dui facilisis, suscipit nisi quis, auctor leo. Integer mattis, est quis imperdiet facilisis, sem mi posuere tortor, ut tempus sapien sapien laoreet quam. Cras imperdiet facilisis vehicula. In convallis condimentum velit consectetur rhoncus. Etiam quis tellus ultricies, congue diam lacinia, tristique metus. Integer eget justo hendrerit, egestas odio ac, pulvinar quam. Morbi vel ultricies nunc, vel sagittis neque. Pellentesque consequat sagittis dictum. Sed malesuada nunc purus, sed blandit dolor volutpat ac. Morbi sit amet mi venenatis, pretium sapien nec, elementum dolor.</p>

					<p>Nulla sagittis mattis enim, cursus vulputate quam auctor quis. Sed id lorem a ipsum viverra elementum. Curabitur sed volutpat metus, in suscipit sem. Aenean nunc nunc, mollis ut nibh sed, sollicitudin tristique libero. Curabitur in lectus auctor, dapibus risus a, finibus purus. Fusce odio tortor, dignissim quis semper id, cursus eget nibh. Cras congue, ligula eu blandit viverra, sapien sapien iaculis tortor, pellentesque consectetur odio magna non nisi. Sed ornare, eros ac vestibulum consequat, dui nisi dapibus sem, id posuere neque magna sed diam. Phasellus convallis odio non tempor malesuada. Quisque ornare lorem eget laoreet mollis. Vestibulum tincidunt accumsan lacinia.</p>

					<!-- for the image, the margin is optional -->
					<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/13D9C/production/_110780318_befunky-collage-1.jpg" style="margin:50px;" class="img-fluid">

					<p>Integer molestie, ante nec eleifend imperdiet, est odio consequat tellus, id ullamcorper lorem elit vel purus. In pretium venenatis mauris, non hendrerit nibh tincidunt eu. Phasellus a ullamcorper massa. Donec quis nibh enim. Nunc vitae odio efficitur, dapibus tortor sit amet, maximus erat. Donec molestie mollis rhoncus. Proin malesuada, odio a commodo dictum, arcu ex porttitor eros, ut posuere ex tellus ac ligula. Donec placerat diam non tortor commodo blandit. Integer vel nisi nec est blandit euismod. Nunc sed dolor auctor ex aliquet mollis vitae sit amet diam. Aenean dictum condimentum malesuada. Praesent sed velit vel turpis ullamcorper auctor ut tempus erat. Vestibulum et finibus augue. Duis eros mauris, porttitor vitae sem sagittis, sollicitudin dignissim ligula.</p>

					<p>Nulla sagittis accumsan orci et gravida. Morbi facilisis turpis sit amet quam elementum fringilla. Nam viverra congue nisl. Cras sed sem vel urna iaculis tincidunt sit amet ac enim. Aliquam quis nisi at urna iaculis scelerisque et nec ante. Vestibulum vitae tristique ex. Donec ornare, erat sit amet pretium varius, metus nulla congue arcu, id malesuada turpis odio in sapien. Praesent justo nunc, sagittis eget vehicula eu, ornare id leo. Suspendisse potenti. Morbi pretium finibus lacus, id auctor ipsum venenatis semper. Sed in consectetur dolor. Maecenas libero diam, elementum eu laoreet id, imperdiet a turpis. Vivamus dictum porta rutrum. Mauris tincidunt, justo sit amet consectetur lacinia, dui eros viverra arcu, eu molestie mauris magna et felis. Nunc ex augue, euismod in ullamcorper quis, varius vitae diam.</p>

					<p>Etiam id lobortis diam. Duis quis massa ligula. Etiam vehicula vel massa tincidunt malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis enim id turpis accumsan dictum. Integer tincidunt dui ut augue posuere, commodo congue sem placerat. Nam eget luctus libero. Duis ac vestibulum ex, at hendrerit ligula. Phasellus sit amet diam eu metus placerat aliquet. In ultrices leo arcu, eget consequat nisi consectetur eu. Suspendisse non rhoncus ante. </p>
				</div><!-- /.blog-post -->

			</div>
		</div>
	</main>

	<!-- footer -->
	<div class='footer'>
		<a href='https://www.instagram.com/westemnyuad/' class='fa fa-instagram'></a>
		<a href='mailto:westem.team@nyu.edu' class='fa fa-envelope'></a>
		<a href='https://docs.google.com/forms/d/e/1FAIpQLScE-LxnVmYpPy_MfN4Y2G0RHxUU6sdHsRg4ZKxxz2x53f3nyQ/viewform' class='fa fa-slack'></a>
		<!-- <p class="footer-text">weSTEM 2021 | by Nouf Alabbasi, Yeonie Heo, and Ivana Drabova</p> -->
	</div>
	<!-- end of footer -->

</body>
</html>
